<p>checkequipment-form works!</p>
<div>
    <p>類型:{{itemtype}}</p>
 物品完整:
        <div class="item_complete">
        <input type="radio" ng-value=1 ng-model="complete" name="comp" >是
        <input type="radio" ng-value=0 ng-model="complete" name="comp">否
    </div>

    <P>備註(選填):</P>
    <input type="text" ng-model="Remark" name="mark" >
    <p>物品現況</p>
    <button>選擇圖片</button>
    <p>房東回覆:</p>
    <input type="text" ng-model="reply" name="rep" >
    <button>完成</button>
</div>    