<!-- Static Navigation -->
<nav>
    <a routerLink="/info/main" routerLinkActive="active">BackToInfo</a>
</nav>
<p>feehistory works!</p>
<div class="fee-container">
    <ul>
        <li><a routerLink="rent" routerLinkActive="active-link">應繳租金:{{rent}}</a></li>
        <li><a routerLink="fee" routerLinkActive="active-link">應繳雜費:{{fee}}</a></li>
        <li><a routerLink="total" routerLinkActive="active-link">總應繳金額:{{total}}</a></li>
    </ul>
</div>
<router-outlet></router-outlet>