<!-- Static Navigation -->
<nav> 
    <nav>
        <a routerLink="/info/main" routerLinkActive="active">BackToInfo</a>
    </nav>
    <div style='text-align: center;font-size: 24px;font-weight: bold;'>
        <ul><a>報修單</a></ul>
    </div>
    <div style='text-align: center;'>
        <input type="button" value="燈泡" onclick="location.href='/info/repair/repairdetail'">
        <input type="button" value="門鈴" onclick="location.href='/info/repair/repairdetail'">
        <input type="button" value="網路" onclick="location.href='/info/repair/repairdetail'">
        <input type="button" value="電視" onclick="location.href='/info/repair/repairdetail'">
        <input type="button" value="插座" onclick="location.href='/info/repair/repairdetail'">
        <input type="button" value="蓮蓬頭" onclick="location.href='/info/repair/repairdetail'">
    </div>

</nav>
<router-outlet></router-outlet>
<app-progress ></app-progress>
