<nav> 
    <div style='text-align: left;font-size: 24px;font-weight: bold;'>
        <a>進度回報</a>
    </div>
    <div>
        <table class="fox" rules="all">
            <tbody>
            <tr>
                <td>送出日</td>
                <td>物品</td>
                <td>處理進度</td>
                <td>修復日</td>
            </tr>
            <tr>
                <td>{{date}}</td>
                <td>{{[article]}}</td>
                <td>{{progress}}</td>
                <td>{{complete}}</td>
            </tr>
            
            </tbody>
            </table>
       
        
    </div>

</nav>