<!-- Static Navigation -->
<div>
    <a routerLink="/info/main" routerLinkActive="active">BackToInfo</a>
    <p id="title">清點物品</p>
</div>
  
<p id="prompt">點擊圖示以填寫表單，完成後直接回上頁即可。</p>
<div id="type"> 
    <button id="blub" (click)="this.call()">燈泡</button>
    <button  id="bell"(click)="this.call()">門鈴</button>
    <button id="wifi" (click)="this.call()">網路</button>
    <button  id="tv"(click)="this.call()">電視</button>
    <button id="socket"(click)="this.call()">插座</button>
    <button id="shower"(click)="this.call()">蓮蓬頭</button>  
</div>     
<div id=form><router-outlet>  </router-outlet></div>
  