nav {
    border: 1px solid black;
}

ul#nav {
    float: right;
}

li {
    display: inline-block;
    margin: 0.5em;
    padding-right: 0.5em;
}

a {
    text-decoration: none;
}

footer {
    border: 1px solid black;
}

footer p {
    text-align: center;
}

footer a {
    float: right;
}