<nav>
  <ul>
    <li><a routerLink="home" routerLinkActive="active-link"><img src="">Logo</a></li>
    <ul id="nav">
      <li><a href="">尋找租屋</a></li>
      <li><a href="">聊天室</a></li>
      <li><a href="">討論板</a></li>
      <li><a routerLink="/info/main" routerLinkActive="active-link">個人</a></li>
      <li><a href=""><img src="">Notice</a></li>
    </ul>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <p>Footer</p>
  <a href="">搬家公司資訊</a>
  <br>
</footer>