<form id="feehistory" method="post" action="#">
    <fieldset>
      <legend>費用明細</legend>
      <table>
        <tbody>
            <tr>
                <td><a href="/info/feehistory/detail">12/2 電費</a></td>
            </tr>
            <tr>
                <td><a href="/info/feehistory/detail">12/1 水費</a></td>
            </tr>
            <tr>
                <td><a href="/info/feehistory/detail">11/2 電費</a></td>
            </tr>
            <tr>
                <td><a href="/info/feehistory/detail">11/1 水費</a></td>
            </tr>
      </tbody></table>
    </fieldset>
</form>
