<nav> 
    <div style='text-align: center;font-size: 24px;font-weight: bold;'>
        <a>報修申請</a>
    </div>
    <div style='text-align: center;'>
        <table class="box" border=2 rules="none"style="text-align:center">
            <tbody>
            
            <tr><td> 
                <label for="mytext">文字描述:</label><br>
                <textarea cols=50 rows=5></textarea>
            </td></tr>
            <tr><td>
                <label for="file-upload" >圖片上傳:</label>
                <input id="file-upload" type="file">
            </td></tr>
            <tr><td style="text-align:center">
                <input type="button"value="送出">
            </td></tr>
            </tbody>
            </table>
       
        
    </div>

</nav>