<!-- Static Navigation -->
<nav>
    <ul id="nav">
        <li><a routerLink="/info/checkequipment" routerLinkActive="active-link">CheckEquipment</a></li>
        <li><a routerLink="/info/repair" routerLinkActive="active-link">Repair</a></li>
        <li><a routerLink="/info/feehistory/total" routerLinkActive="active-link">FeeHistory</a></li>
    </ul>
</nav>
